@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

$max-width: 800px;

body {
  background: #d1e1f0 url("../img/background.jpg");
  background-size: cover;
  color: #666;
}

.media {
  margin:10px;
}

.media, .media-content {
  overflow: hidden;
  _overflow:visible;
  zoom:1;
}
.media .media-image {
  float:left;
  margin-right: 10px;
}

.media .media-image img {
  display:block;
}

.media-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  @include outer-container;
  margin-top: 40px;
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 3px #5696cc;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #eee;

  h1 {
    @include hide-text;
    height: 60px;
    background: url("../img/logo.png") center no-repeat;
  }

  h1.santiago-logo {
    height: 120px;
    background: url("../img/santiago-hackathon-logo.png") center no-repeat;
  }
}

.nav {
  font-family: "Roboto Slab", sans-serif;
  overflow: auto;
  border-bottom: 1px solid #eee;
  text-align: center;

  ul {
    margin: 0;
    padding: 15px 0;
    list-style: none;

    li {
      display: inline;

      a {
        padding: 15px 20px;
        text-decoration: none;
        color: #666;
      }
    }
  }
}

.content {
  min-height: 300px;
  padding: 40px;

  li {
    margin-bottom: 10px;
  }

  a {
    color: #3d96e1;
  }

  h2 {
    margin: 5px 0;
  }

  p {
    line-height: 1.5em;
    margin: 0 0 10px 0;
  }

  .sub {
    color: #999;
  }
}

.lead {
  font-size: 28px;
  font-weight: normal;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  text-align: center;
  color: #666;
}

.event {
  padding-top: 20px;

  .details {
    background: url("../img/locationtime-icon.png") no-repeat;
    background-size: 142px 142px;
    padding-left: 170px;
    margin: 20px 0;
    height: 143px;
    padding-top: 18px;

    p, a {
      font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
      font-size: 28px;
      font-weight: bold;
      color: #666;
    }
  }

  .lead {
    margin-top: 0px;
    font-size: 1.5em;
  }

  h2 {
    color: #aaa;
    margin: 35px 0 0 0;
    text-transform: uppercase;
    font-size: 1.1em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .schedule {
    float: left;
    width: 360px;

    ul {
      list-style-type: none;
      padding-left: 20px;
    }
  }

  .register {
    padding-top: 88px;
    padding-left: 23px;
    float: left;
    width: 360px;

    .button {
      color: #fff;
      padding: 19px 37px;
    }
  }

  .includes {
    float: left;
    width: 360px;

    ul {
      list-style-image: url('../img/check_box.png');
      padding-left: 40px;
      font-size: 19px;
      font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    }
  }

  .sponsors, .organizers {
    @include outer-container;

    div {
      @include span-columns(6);
      text-align: center;

      &.short {
        @include span-columns(5);
      }

      &.long {
        @include span-columns(7);
      }

      img {
        width: 100%;
        padding: 0 40px;
      }
    }
  }

}

.footer {
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 13px;
  color: #999;
}

.clear {
  clear: both;
}

.button {
  color: #fff;
  background: #21bbe1;
  border-radius: 5px;
  padding: 12px 0;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 0px #249BC4, 0 5px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 0px #249BC4, 0 5px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 0px #249BC4, 0 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;


  height: auto;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
}

.button:hover {
  background: #31cbf1;
  color: #eee !important;
}
