<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="wrap">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>
          <div class="nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/contacto/">Contacto</a></li>
              <li><a href="/eventos/">Eventos</a></li>
              <li><a href="/proyectos/">Proyectos</a></li>
            </ul>
          </div>

          <div class="content">
            {{ content }}
          </div>

          <div class="footer">
            <p>
              (cc) 2014 BitAires - In Bitcoin We Trust
            </p>
          </div>
        </div>

    </body>
</html>
